@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        font-family: 'Fira Sans Condensed', sans-serif;
    }
}

@layer components {
    /* Navigation */

    .navigation {
        @apply top-0 z-[99999] w-full pt-10;
    }

    .navigation .nav-item {
        @apply relative w-[110px] cursor-pointer text-center font-bold leading-5;
    }

    .navigation.black .nav-item {
        @apply text-white transition-all duration-300 ease-in;
    }

    .navigation.black .nav-item:hover,
    .navigation.black .nav-active {
        @apply text-fr-yellow;
    }

    .navigation.black .nav-item::after {
        content: ' ';
        @apply absolute inset-x-0 -bottom-[10px] h-1 w-full rounded-full;
    }

    .navigation.black .nav-item:hover::after,
    .navigation.black .nav-active::after {
        @apply bg-fr-red;
    }

    .navigation.cappuccino .nav-item {
        @apply text-fr-black;
    }

    .navigation.cappuccino .nav-item:hover,
    .navigation.cappuccino .nav-item.nav-active {
        @apply text-fr-green;
    }

    .navigation.cappuccino .nav-item::after {
        content: ' ';
        @apply absolute inset-x-0 -bottom-[10px] h-1 w-full rounded-full;
    }

    .navigation.cappuccino .nav-item:hover::after,
    .navigation.cappuccino .nav-item.nav-active::after {
        @apply bg-fr-red;
    }

    /* Introduction */

    .introduction.black {
        @apply bg-fr-black;
    }

    .introduction.cappuccino {
        @apply bg-fr-yellow;
    }

    /* Video Coffee */

    .video-coffee.black {
        @apply bg-fr-red;
    }

    .video-coffee.cappuccino {
        @apply bg-fr-green;
    }

    /* Post Feed */

    .post-feed.black {
        @apply bg-fr-yellow;
    }

    .post-feed.cappuccino {
        @apply bg-fr-red;
    }

    /* Article */

    .article-wrapper {
        column-count: 2;
        column-gap: 2rem;
    }
}

@layer utilities {
    .font-poppins {
        font-family: 'Poppins', sans-serif;
    }

    .font-courgette {
        font-family: 'Courgette', cursive;
    }

    .text-primary-500 {
        @apply text-blue-500;
    }
}

/* Custom Styles */

.bg-glow-yellow {
    background: rgb(253, 198, 75);
    background: radial-gradient(
        circle,
        rgba(253, 198, 75, 1) 5%,
        rgba(0, 212, 255, 0) 45%
    );
}

.nav-up {
    @apply -top-[150px] transition-all duration-500 ease-in-out;
}

.nav-down {
    @apply top-[0px] transition-all duration-500 ease-in-out;
}
